<%- include ('../partials/nav.ejs') %> 
<h2>Create New Watchlist</h2>
<form action="/watchlists" method="POST">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" placeholder="Enter Watchlist Name">
    <button type="submit">Submit</button>
</form>