<div class="topnav">
    <a href="/stocks">All Stocks</a>
    <a href="/watchlists">View Watchlists</a>
    <a href="/watchlists/new">Create Watchlist</a>
    <a href="/users/new">Sign Up</a></li>
    <a href="/sessions/new">Log In</a></li>
</div>