<ul class="ul-nav">
    <li class="li-nav"><a href="/stocks">All Stocks</a></li>
    <li class="li-nav"><a href="/stocks/new">Add a New Stock</a></li>
    <li class="li-nav"><a href="/watchlists">View Watchlists</a></li>
    <li class="li-nav"><a href="/watchlists/new">Create Watchlist</a></li>
</ul>