<form action="/stocks" method="POST">
    <label for="symbol">Symbol</label>
    <input id="symbol" name="symbol" type="text" placeholder="Enter Ticker Symbol">
    <button type="submit">Submit</button>
</form>