body {
    /* font-family: 'Trispace', sans-serif; */
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 20px;
}
.nav {
    font-size: 23px;
}
ul {
    padding-left: 0px;
    list-style: none;
}
.table-div {
    display: flex;
    justify-content: center;
}
.detail-table{
    display: flex;
    justify-content: center;
    text-align: center;
}
th {
    text-decoration: underline;
}
th:hover {
    cursor: pointer;
}
table {
    margin-top: 30px;
    font-size: 18px;
}

.detail-table th,td {
    text-align: left;
}

.new-stock-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    table-layout: auto;
    width: 80%;
}
.watchlist-table{
    display: flex;
    justify-content: center;
    font-size: 35px;
}