body {
    font-family: 'Trispace', sans-serif;
    text-align: center;
}
.nav {
    font-size: 20px;
}
ul {
    padding-left: 0px;
    list-style: none;
}
.table-div {
    display: flex;
    justify-content: center;

}
.detail-table{
    display: flex;
    justify-content: center;
    text-align: center;
}
th {
    text-decoration: underline;
}
table {
    margin-top: 30px;
}

.detail-table th,td {
    text-align: left;
}

.new-stock-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    table-layout: auto;
    width: 80%;
}